<head>
	<style>
		.demo{
			margin-left: -450px;
		}
		.demo1{
			margin-left: -450px;
		}
		.demo3{
			margin-left: -156px;
			height: 68px;
			width: 200px;
			margin-top: -24px;
		}
		

	</style>
</head>




<nav class="navbar navbar-dark bg-dark  " style="font-size: 14px; font-family: serif; height: 75px; background-color: #07203a!important;">
	<a class="navbar-brand"  href="{%url 'home'%}" style="color: red;">Home</a>

	<a class="navbar-brand demo" href="http://127.0.0.1:8000/todos/" style="color: red;">All Todos</a>

	<a class="navbar-brand demo1" href="http://127.0.0.1:8000/todos/add" style="color: red; ">Add Todo</a>

	<a class="navbar-brand demo1" href="http://127.0.0.1:8000/account/signup/" style="color: red; ">Signup</a>

	<a class="navbar-brand demo1" href="http://127.0.0.1:8000/account/login/" style="color: red; ">Login</a>

	<a class="navbar-brand demo1" href="http://127.0.0.1:8000/todos/about/" style="color: red; ">ContactUs</a>

	

	<a href="http://127.0.0.1:8000/">
		<span class="navbar-toggler-icon"><img class="demo3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5fCqR6M-X7tBBYDDBF9UlvD4vWxA_uJ4y6A&usqp=CAU" alt="livewire-logo"></span>
	</a>

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			
	</div>

</nav>
	